.currency-container {
    display: flex;
    justify-content: center;
}

.currency-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #d7d7d7;
    width: 900px
}

.currency {
    display: flex;
    align-items: center;
    padding-right: 24px;
    min-width: 300px;
}

.currency h1 {
    font-size: 20px;
    width: 150px
}

.currency img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.currency-type {
    text-transform: uppercase;
}

.currency-data {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}

.currency-price {
    width: 110px;
}

.currency-volume {
    width: 200px
}

.currency-marketcap {
    width: 240px;
}

.currency-percent {
    width: 80%
}

.red {
    color: #f00606
}

.green {
    color: #11d811
}