* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: darkgrey;
  color: #fff;
}

.currency-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  color: #fff;
}

.currency-search {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.currency-text {
  margin-bottom: 25px;
  text-align: center;
}

.currency-input {
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-color: lightblue; 
  color: #e2e2e2;
}

.currency input::placeholder {
  color: black;
}